<!DOCTYPE html>
<html>
<head>
	<title>Saveyour - User Docs</title>
	<link rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.min.css' />
	<link rel='stylesheet' href='/stylesheets/style.css' />
	<link rel='shortcut icon' href='/images/saveyour-icon-32.ico' />

	<script src='/bower_components/jquery/dist/jquery.min.js' ></script>
	<script src='/bower_components/bootstrap/dist/js/bootstrap.min.js' ></script>
	<script src='/bower_components/jszip/dist/jszip.min.js' ></script>
	<script src='/bower_components/jszip/vendor/FileSaver.js' ></script>
	<script src='/bower_components/jszip-utils/dist/jszip-utils.min.js'></script>
	<script src='/javascripts/download.js' ></script>
	<script src='/javascripts/saveyour_site.js' ></script>
	<script language="javascript" type="text/javascript">
		function resizeIframe(obj) {
			obj.style.height = obj.contentWindow.document.body.scrollHeight + 'px';
		}
	</script>
</head>
<body>
	<div class="container">
		<a href="https://github.com/Saveyour-Team/Saveyour"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png"></a>
		
		<!-- begin main nav -->
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="/">Saveyour</a>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="main-nav">
					<ul class="nav navbar-nav">
						<li id="download"><a href="/">Download</a></li>
						<li id="docs"><a href="/docs">Documentation</a></li>
					</ul>
				</div>
			</div>
		</nav> <!-- end main nav -->

		<div class="page-content">
			<div id="user_docs">
				<h1>User Documentation</h1>
				<a href="/resources/Documentation/UserDocumentation.pdf" download><button id="download-btn" type="button" class="btn btn-info">Download as PDF</button></a>
				<a href="/resources/HTML-documentation/UserDocumentation.html" target="_blank"><button type="button" class="btn btn-info">View as HTML</button></a>
			</div>
			<div id="rel-notes">
				<h1>Release Notes</h1>
				<p>This page last updated on: April 30th, 2015. To view most up-to-date release-notes, please navigate to the release notes page from <a href="https://github.com/Saveyour-Team/Saveyour/blob/master/releasenotes.md" target="_blank"><span id="rel-notes-link">our GitHub</span></a>.</p>

			</div>
		</div>
		
	</div>
</body>
</html>