<!DOCTYPE html>
<html>
<head>
	<title>Saveyour - User Docs</title>
	<link rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.min.css' />
	<link rel='stylesheet' href='/stylesheets/style.css' />
	<link rel='shortcut icon' href='/images/saveyour-icon-32.ico' />

	<script src='/bower_components/jquery/dist/jquery.min.js' ></script>
	<script src='/bower_components/bootstrap/dist/js/bootstrap.min.js' ></script>
	<script src='/bower_components/jszip/dist/jszip.min.js' ></script>
	<script src='/bower_components/jszip/vendor/FileSaver.js' ></script>
	<script src='/bower_components/jszip-utils/dist/jszip-utils.min.js'></script>
	<script src='/javascripts/download.js' ></script>
	<script src='/javascripts/saveyour_site.js' ></script>
	<script language="javascript" type="text/javascript">
		function resizeIframe(obj) {
			obj.style.height = obj.contentWindow.document.body.scrollHeight + 'px';
		}
	</script>
</head>
<body>
	<div class="container">
		<a href="https://github.com/Saveyour-Team/Saveyour"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png"></a>
		
		<!-- begin main nav -->
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="/">Saveyour</a>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="main-nav">
					<ul class="nav navbar-nav">
						<li id="download"><a href="/">Download</a></li>
						<li id="docs" class="dropdown">
							<a href="/docs" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Documentation<span class="caret"></span></a>
							<ul class="dropdown-menu" role="menu">
								<li><a href="/docs">Documentation</a></li>
								<li class="divider"></li>
								<li><a href="/docs#user-docs">User Docs</a></li>
								<li><a href="/docs#rel-notes">Release Notes</a></li>
							</ul>
						</li>
						<li id="plugins"><a href="/plugins">Plugins</a></li>
					</ul>
				</div>
			</div>
		</nav> <!-- end main nav -->

		<div class="page-content">
			<hr/>
			<div id="user-docs">
				<h1>User Documentation</h1>
				<a class="btn btn-primary btn-lg" href="/resources/Documentation/UserDocumentation.pdf" role="button" download>Download as PDF</a>
				<a class="btn btn-primary btn-lg" href="/resources/HTML-documentation/UserDocumentation.html" role="button" target="_blank">View as HTML</a>
			</div>
			<hr/>
			<div id="rel-notes">
				<h1>Release Notes</h1>				
				<!-- this was obtained by simply copy pasting the markdown of the release notes into a md -> html converter found at http://daringfireball.net/projects/markdown/dingus -->
				<div id="rel-notes-html">
					<ul class="list-group">
						<li class="list-group-item lighter-blue">
							<h2>1.0 Release - Wednesday April 30, 2015</h2>
							<hr/>
							<h3>General improvements</h3>

							<ul>
								<li>Overhaul in UI design with a white and blue color scheme.</li>
								<li>All modules spawn in a set location. 
									<ul><li>A future feature will have them spawn where the user left the features. </li>
										<li>There will also be a “Reset to Default Position” in Settings.</li></ul></li>
										<li>General styling and bug fixes.</li>
							</ul>

							<h3>Homework module</h3>

							<ul>
								<li>Updated so that it no longer spans horizontally when adding a subject.
									<ul><li>This design decision was made to encompass those who have more than 5 subjects and do not want to clutter their desktop. Instead, we use a tabbed interface for homework module with an “All” tab to see homeworks in ascending order.</li></ul></li>
							</ul>

							<h3>Settings module</h3>

							<ul>
								<li>Now has hotkey macros updated to be able to show the user what to press to hide/show modules
									<ul><li>Hotkeys include a variety of key presses. </li>
										<li>Currently, the hotkeys are not customizable, however, there will be an update pushed to customize these hotkeys sometime in the future.</li></ul></li>
							</ul>

							<h3>Weekly To-Do module</h3>

							<ul>
								<li>Now has color coding based off the weight of tasks:
									<ul><li>Green: Total weight of less than 5</li>
										<li>Yellow: Total weight between 5 - 7</li>
										<li>Orange: Total weight between 8 - 9</li>
										<li>Red: Total weight of greater than or equal to 10</li></ul></li>
							</ul>

							<h3>Google Calendar WebView</h3>

							<ul>
								<li>Google Calendar WebView has been implemented to allow for one to login and see their calendar</li>
							</ul>

							<h3>Known Issues</h3>

							<h4>Fixes from last release</h4>
							<ul>
							<li>Weekly To-Do is now fully functional.</li>
							<li>Logging in now gives visual feedback by showing a "Logging in" message on the login screen after entering your credentials.</li>
							<li>As stated above, the Setting module now has functionality for showing and hiding individual modules.</li>
							</ul>

							<h4>Additional Known Issues</h4>

							<p>Can be found at our issues page <a href="https://github.com/Saveyour-Team/Saveyour/issues">here</a>.</p>

							<h3>Additional Information</h3>

							<p>Including build instructions for developers, how to view changelogs, how to file an issue, and more can be found in the README <a href="https://github.com/Saveyour-Team/Saveyour/blob/master/README.md">here</a>.</p>
						</li>
						<li class="list-group-item lighter-blue">
							<h2>Beta Release - Wednesday April 1, 2015</h2>
							<hr/>
							<h3>Log-in</h3>

							<p>TLS Certificate was added to supply a secure connection between the client and the server. Pressing tab/enter in the username field will allow one to jump to the password field. You must click Add Certificate before being able to log in.</p>

							<h3>Quick Notes Module</h3>

							<p>Quicknotes module created and is able to be resized. Exiting the module causes the application to save the user data to the server as well as locally</p>

							<h3>Weekly To-Do Module</h3>

							<p>Weekly To-Do module created and is able to add tasks for each day of the week. Window can be resized only horizontally.</p>

							<h3>Settings Module</h3>

							<p>Buttons in the settings should be able to show/hide modules. Showing and hiding the modules does not destroy the process, it keeps it running which is one of the key aspects behind Saveyour. </p>

							<h3>Known Issues</h3>

							<h4>Known Issue #1: Weekly To-Do has limited functionality</h4>

							<p>Weekly To-Do can only have one task per day display at a time. The days also seemed to be cramped. There is also no option to resize it vertically which is something that needs to be worked on for the final release.</p>

							<h4>Known Issue #2: No loading modules sign</h4>

							<p>When logging in, it may take a few seconds before seeing the modules load. There is no visual feedback to tell the user this so one may think that the app has crashed. </p>

							<h4>Known Issue #3: Settings Module does not have show/hide for all of the modules</h4>

							<p>The settings module does not have show/hide for all of the modules. Also, other than showing/hiding, the settings module is limited so far. This will be changed in the final release.</p>
						</li> <!-- end beta release notes -->
						<li class="list-group-item lighter-blue"> <!-- start alpha release notes -->
							<h2>Alpha Release - Monday March 9, 2015</h2>
							<hr/>
							<h3>Log-in</h3>

							<p>Added functinoality to login.</p>

							<h3>Feedback Window</h3>

							<p>To show data from the database/server a window is created with the username and a string taken as data from a server.</p>
						</li> <!-- end alpha release notes -->
					</ul>
				</div>
			</div>
			<p>This page was last updated on <span class="bold">May 1st, 2015</span>. If this information seems out of date, please let us know by submitting an issue at <a href="https://github.com/Saveyour-Team/Saveyour/issues" target="_blank"><span id="rel-notes-link">our GitHub</span></a>.</p>
		</div>
	</div>
</body>
</html>