body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #3498db;
  color: #FFFFFF;
}

a {
	color: #FFFFFF;
}

a:hover {
	text-decoration: none;
}

#download {
	text-align:center;
}