body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #3498db;
  color: #FFFFFF;
}

a {
	color: #FFFFFF;
}

a:hover {
	text-decoration: none;
}

.page-content {
	text-align:center;
}

#rel-notes-link {
	color: #FFA500;
	text-decoration: underline;
}